@import "./default.css";



/* navbar  */
.ayrac {
    font-size: 20px;
    margin: 0 20px;
    color: white;
}
.nav-item a {
    font-size: 16px;
    font-weight: bold;
}
/* giriş  */

.sıra {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: calc(100vh - 6.5rem);
}

.sol-kolon {
    flex: 1;
    text-align: center;
}

.sol-kolon img {
    width: 100%; /* Görüntünün tamamen genişlemesini sağlar */
    max-width: 400px; /* Görüntünün en fazla 300 piksel genişliğinde olmasını sağlar */
    height: auto; /* Orantılı olarak yüksekliği ayarlar */
    border-radius: 50%;
}
.sol-kolon img:hover {
    box-shadow: 0 0 30px #11a372;
}

.sag-kolon {
    flex: 1;
    text-align: left;
    padding: 0 20px; /* İstediğiniz kadar iç boşluk ayarlayabilirsiniz */
}

.sag-kolon .baslık {
    margin-top: 100px;
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
}

.sag-kolon .baslık2 {
    font-size: 2rem;
    color: crimson;
    padding: 0.5rem 0;
    display: block;
}

.sag-kolon p {
    font-size: 1.5rem;
    color: lightslategrey;
    padding: 1rem 0;
    line-height: 2;
}

.sag-kolon .sekme a {
    margin-left: 70px;
    border: 3px solid;
    padding: 12px 20px;
    border-radius: 7px;
    color: black;
    cursor: pointer;
}
.sag-kolon .sekme a:hover {
    border-style: outset;
    border-width: 3px;
    box-shadow: 3px 5px 5px black;
}
.sag-kolon .sekme .link2 {
    padding-inline: 30px;
}
.sag-kolon .sekme a:hover {
    background-color: #11a372;
}
.fa-id-card {
    padding-right: 5px;
}
.fa-gamepad {
    padding-right: 5px;
}

/* Responsive tasarım için medya sorguları */
@media (max-width: 992px) {
    .sıra {
        flex-direction: column; /* Ekran daraldığında sıralama dikey olur */
        text-align: center; /* Öğelerin ortalanmasını sağlar */
    }

    .sol-kolon {
        margin-top: 1rem;
        width: 235px;
    }
    .sag-kolon {
        margin-top: -60px;
    }
    .sag-kolon .baslık {
        font-size: 30px;
        text-align: center;
    }
    .sag-kolon .baslık2 {
        font-size: 24px;
        text-align: center;
    }
    .sag-kolon p {
        font-size: 18px;
    }
    .sag-kolon .sekme {
        margin-left: 20px;
    }
    .sag-kolon .sekme .link1 {
        padding: 10px;
    }
    .sag-kolon .sekme .link2 {
        padding: 10px;
        padding-inline: 22px;
        margin-left: 20px;
    }
    .ayrac {
        display: none;
    }
}
/*Özgeçmiş */

.hakkimda_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 8%;
}
.hakkimda_container .hakkimda_icerik{
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-gap: 70px;
}
.hakkimda_icerik .imgKisim{
    position: relative;
    min-width: 300px;
    height: 380px;
}
.imgKisim img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.hakkimda_icerik .imgKisim::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    outline:  3px solid #11a372;
    top: 15px;
    left: 15px;
    z-index: 1;
}

.bilgiKisim h1{
    color: #11a372;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
}
.bilgiKisim h1::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 110%;
    left: 0;
    background-color: aliceblue;
}

.bilgiKisim h1::after{
    content: '';
    position: absolute;
    width: 40%;
    height: 3px;
    top:calc(110%-1px);
    left: 0px;
    background-color: #ccc;
}

.bilgiKisim h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600px;
    color: #11a372;
    padding: 14px 0 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.bilgiKisim p{
    font-size: 18px;
    line-height: 1.2;
    text-align: justify;
    padding-bottom: 8px;
}
.kisiselBilgi{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 20px;
    margin-bottom: 10px;
    margin-top: 14px;
    border-bottom: 1px solid #11a372;
}
.kisiselBilgi div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.kisiselBilgi div span{
    letter-spacing: 1px;
}


@media only screen and (max-width: 768px) {
    .hakkimda_container .hakkimda_icerik{
      grid-template-columns: 1fr; 
    }
    .hakkimda_icerik .imgKisim{
      min-width: auto; 
      height: auto; 
    }
  }



/* Yetkinlik baslangic*/
.yetkinlik {
    background-color: #11a372;
}
.col-md-3 .img-fluid {
    border-radius: 80%;
}
.col-md-3 .img-fluid:hover {
    box-shadow: 13px 13px 13px rgb(0, 0, 0);
}

/*Eğitim durumu baslangıc*/
.egitim {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 10%;
    margin-left: 200px;
}
.egitim {
    padding-right: calc(10% - 30px);
}
main.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}
.kolon header .baslik {
    font-family: Helvetica;
    color: #11a372;
    padding: 0px 0px 20px 30px;
}
.kolon .contents {
    padding: 0px 30px;
    border-left: 2px solid #bababa;
}
.kolon .contents .kutu {
    position: relative;
    padding: 20px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
}
.kolon .contents .kutu:hover {
    box-shadow: 0px 3px 12px 0px #ccc;
    border: 1px solid transparent;
}
.kolon .contents .kutu::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: #11a372;
    border: 2px solid white;
}
.kutu h4 {
    position: relative;
    color: #11a372;
}
.kutu h3 {
    font-size: px;
    padding: 10px 0px 6px;
    font-family: Helvetica;
    color: #444;
}
.kutu p {
    line-height: 1.2;
    color: #666;
    font-size: 17px;
}
/*Eğitim için responsive*/
@media (max-width: 768px) {
    main.row {
        margin-left: 15px;
        grid-template-columns: 1fr;
    }
    .row .kolon:nth-child(2) {
        margin-top: 30px;
    }
}

/*  Sehrim Slider baslangic*/

.resimSlider {
    height: 550px;
}
/* sehrim bilgiler baslangic*/
.img1 {
    clear: left;
    width: 800px;
    margin-left: 70px;
}
.img2 {
    float: left;
    width: 450px;
    margin-left: 250px;
}
.img3 {
    float: left;
    width: 420px;
    margin-left: 100px;
}
.pr {
    margin-top: 20px;
    clear: left;
    margin: 40px;
    font-size: 18px;
    font-family: Helvetica;
}
.pr2 {
    clear: left;
    padding: 50px;
    font-size: 18px;
    font-family: Helvetica;
}
.head1 {
    color: #11a372;
    margin: 20px 60px;
    font-family: Helvetica;
    font-size: 50px;
}
.head2 {
    color: #11a372;
    margin: 40px;
    font-family: fantasy;
}

@media only screen and (max-width: 768px) {
    .resimSlider {
        height: 350px;
    }

    .img1, .img2, .img3 {
      width: 100%; /* Resimlerin genişliğini %100 yap */
      margin-left: 0; /* Sol boşluğu kaldır */
      margin-right: 0; /* Sağ boşluğu kaldır */
      float: none; /* Float özelliğini kaldır */
    }
    .pr, .pr2 {
      margin: 20px; /* Metinlerin kenar boşluklarını ayarla */
      font-size: 16px; /* Metin boyutunu azalt */
    }
  }

/* Mirasimiz baslangıc*/

.img4 {
    margin: 0px 100px;
    width: 700px;
    height: 500px;
}
.img5 {
    float: left;
    margin: 10px 50px;
    width: 400px;
    height: 300px;
}

@media only screen and (max-width: 768px) {
    .img4, .img5 {
      width: 100%; 
      margin-left: 0; 
      margin-right: 0; 
      float: none; 
    }
    .pr {
      margin: 20px; 
      font-size: 16px; 
    }
  }


/* iletisim baslangic*/

.box-container {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}
.box {
    width: 390px;
    padding: 15px;
    min-height: 500px;
}

.kutu1 {
    background-color: #11a372;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.kutu2 {
    background-color: #11a372;
}

.kutu3 {
    background-color: #11a372;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.icerik {
    padding: 10px;
}

.kutu1 h3 {
    color: white;
    text-transform: uppercase;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.kutu3 .btn {
    margin: 20px 0;
    padding: 15px 20px;
    border: 0;
    border-radius: 5px;
    outline: none;
    background-color: white;
    cursor: pointer;
    font-weight: 200px;
    font-size: 15px;
}
.kutu1 .icerik p {
    font-size: 18px;
}

.kutu1 .icerik p span {
    font-size: 18px;
    font-weight: bold;
}

.icerik label {
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
#iletisimbody{
    background-color: #dffff4;
}

/*iletisim java için*/

.input-control input:focus {
    outline: 0;
}
.input-control.succsess input {
    border-color: green;
}

.input-control.error input {
    border-color: red;
}

.input-control .error {
    color: red;
    font-size: 15px;   
}


/* login icin*/
#girisbody{
    background-color: #dffff4;
}

.container.loginbox {
    width: 400px ;
    padding: 40px;
    margin: auto;
    margin-top:10px ;
    border: #11a372 solid ;
    border-radius: 10px;
    background-color: #fffffff4;
}


