@import "./default.css";



/* navbar  */
.ayrac {
    font-size: 20px;
    margin: 0 20px;
    color: white;
}
.nav-item a {
    font-size: 16px;
    font-weight: bold;
}
/* giriş  */

.sıra {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: calc(100vh - 6.5rem);
}

.sol-kolon {
    flex: 1;
    text-align: center;
}

.sol-kolon img {
    width: 100%; /* Görüntünün tamamen genişlemesini sağlar */
    max-width: 400px; /* Görüntünün en fazla 300 piksel genişliğinde olmasını sağlar */
    height: auto; /* Orantılı olarak yüksekliği ayarlar */
    border-radius: 50%;
}
.sol-kolon img:hover {
    box-shadow: 0 0 30px #11a372;
}

.sag-kolon {
    flex: 1;
    text-align: left;
    padding: 0 20px; /* İstediğiniz kadar iç boşluk ayarlayabilirsiniz */
}

.sag-kolon .baslık {
    margin-top: 100px;
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
}

.sag-kolon .baslık2 {
    font-size: 2rem;
    color: crimson;
    padding: 0.5rem 0;
    display: block;
}

.sag-kolon p {
    font-size: 1.5rem;
    color: lightslategrey;
    padding: 1rem 0;
    line-height: 2;
}

.sag-kolon .sekme a {
    margin-left: 70px;
    border: 3px solid;
    padding: 12px 20px;
    border-radius: 7px;
    color: black;
    cursor: pointer;
}
.sag-kolon .sekme a:hover {
    border-style: outset;
    border-width: 3px;
    box-shadow: 3px 5px 5px black;
}
.sag-kolon .sekme .link2 {
    padding-inline: 30px;
}
.sag-kolon .sekme a:hover {
    background-color: orange;
}
.fa-id-card {
    padding-right: 5px;
}
.fa-gamepad {
    padding-right: 5px;
}

/* Responsive tasarım için medya sorguları */
@media (max-width: 992px) {
    .sıra {
        flex-direction: column; /* Ekran daraldığında sıralama dikey olur */
        text-align: center; /* Öğelerin ortalanmasını sağlar */
    }

    .sol-kolon {
        margin-top: 1rem;
        width: 235px;
    }
    .sag-kolon {
        margin-top: -60px;
    }
    .sag-kolon .baslık {
        font-size: 30px;
        text-align: center;
    }
    .sag-kolon .baslık2 {
        font-size: 24px;
        text-align: center;
    }
    .sag-kolon p {
        font-size: 18px;
    }
    .sag-kolon .sekme {
        margin-left: 20px;
    }
    .sag-kolon .sekme .link1 {
        padding: 10px;
    }
    .sag-kolon .sekme .link2 {
        padding: 10px;
        padding-inline: 22px;
        margin-left: 20px;
    }
    .ayrac {
        display: none;
    }
}
/*Özheçmiş */

.hakkimda {
    .baslik {
        text-align: center;
        font-size: 3.5rem;
        margin: 30px 10px 40px;
        span {
            color: orange;
        }
    }
    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        margin-left: 1rem;
        margin-bottom: 1.5rem;

        .bilgilerim {
            flex: 1 1 42rem;
            h1 {
                font-size: 2.5rem;
                color: crimson;
                text-transform: uppercase;
                padding-bottom: 1rem;
            }
            .kutuici {
                padding: 1.5rem 0;
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;

                .kutu {
                    flex: 1 1 20rem;

                    h3 {
                        font-size: 1.4rem;
                        color: crimson;
                        padding: 1rem 0;
                        font-weight: normal;

                        span {
                            color: orange;
                            font-weight: lighter;
                        }
                    }
                }
            }
        }
    }
}
/* Yetkinlik baslangic*/
.yetkinlik {
    background-color: #11a372;
}
.col-md-3 .img-fluid {
    border-radius: 80%;
}
.col-md-3 .img-fluid:hover {
    box-shadow: 13px 13px 13px rgb(0, 0, 0);
}

/*Eğitim durumu baslangıc*/
.egitim {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 10%;
    margin-left: 200px;
}
.egitim {
    padding-right: calc(10% - 30px);
}
main.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}
.kolon header .baslik {
    font-family: Helvetica;
    color: #11a372;
    padding: 0px 0px 20px 30px;
}
.kolon .contents {
    padding: 0px 30px;
    border-left: 2px solid #bababa;
}
.kolon .contents .kutu {
    position: relative;
    padding: 20px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
}
.kolon .contents .kutu:hover {
    box-shadow: 0px 3px 12px 0px #ccc;
    border: 1px solid transparent;
}
.kolon .contents .kutu::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: #11a372;
    border: 2px solid white;
}
.kutu h4 {
    position: relative;
    color: #11a372;
}
.kutu h3 {
    font-size: px;
    padding: 10px 0px 6px;
    font-family: Helvetica;
    color: #444;
}
.kutu p {
    line-height: 1.2;
    color: #666;
    font-size: 17px;
}
/*Eğitim için responsive*/
@media (max-width: 768px) {
    main.row {
        margin-left: 15px;
        grid-template-columns: 1fr;
    }
    .row .kolon:nth-child(2) {
        margin-top: 30px;
    }
}

/*  Sehrim Slider baslangic*/

.resimSlider {
    height: 550px;
}
/* sehrim bilgiler baslangic*/
.img1 {
    clear: left;
    width: 800px;
    margin-left: 70px;
}
.img2 {
    float: left;
    width: 450px;
    margin-left: 250px;
}
.img3 {
    float: left;
    width: 420px;
    margin-left: 100px;
}
.pr {
    margin-top: 20px;
    clear: left;
    margin: 40px;
    font-size: 18px;
    font-family: Helvetica;
}
.pr2 {
    clear: left;
    padding: 50px;
    font-size: 18px;
    font-family: Helvetica;
}
.head1 {
    color: #11a372;
    margin: 20px 60px;
    font-family: Helvetica;
    font-size: 50px;
}
.head2 {
    color: #11a372;
    margin: 40px;
    font-family: fantasy;
}

/* Mirasimiz baslangıc*/

.img4 {
    margin: 0px 100px;
    width: 700px;
    height: 500px;
}
.img5 {
    float: left;
    margin: 10px 50px;
    width: 400px;
    height: 300px;
}

/* iletisim baslangic*/

.box-container {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}
.box {
    width: 390px;
    padding: 15px;
    min-height: 500px;
}

.kutu1 {
    background-color: #11a372;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.kutu2 {
    background-color: #11a372;
}

.kutu3 {
    background-color: #11a372;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.icerik {
    padding: 10px;
}

.kutu1 h3 {
    color: white;
    text-transform: uppercase;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.kutu3 .btn {
    margin: 20px 0;
    padding: 15px 20px;
    border: 0;
    border-radius: 5px;
    outline: none;
    background-color: white;
    cursor: pointer;
    font-weight: 200px;
    font-size: 15px;
}
.kutu1 .icerik p {
    font-size: 18px;
}

.kutu1 .icerik p span {
    font-size: 18px;
    font-weight: bold;
}

.icerik label {
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

/*iletisim java için*/

.input-control input:focus {
    outline: 0;
}
.input-control.succsess input {
    border-color: green;
}

.input-control.error input {
    border-color: red;
}

.input-control .error {
    color: red;
    font-size: 15px;   
}


/* login icin*/

.container .form-floating {
    width: 500px ;
}